// _config.scss
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

html,
body {
  height: 100vh; // fallback
  height: 100dvh; // dynamic viewport height (fix for mobile)
  min-height: 100dvh;
}

body {
  font-family: "Poppins", sans-serif;
  // background: url("../images/hero-bg.jpg") top center/cover fixed no-repeat;
  color: $color-text;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  overflow-x: clip;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    background: url("../images/hero-bg.jpg") top center/cover no-repeat;
    z-index: -1000;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
}
